<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
    <title>Login</title>
    <header>
        <center><h1>Login to the Amazing Blog<h1></center>
    </header>
  </head>
  <body>
    <center>
    <hr>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>
        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>
      <div class="error">
        {{error}}
      </div>
      <input type="submit">
      </form>
    </center>
  </body>
</html>
