body {
    background-color: #d3d3d3;
}

h1 {
    font: sans-serif, arial;
}

input[type=text], input[type=password] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    position: relative;
}

textarea {
    width: 400px;
    height: 300px;
    font-size: 17px;
    font-family: monospace;
    position: relative;
}