<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css"/>
      <link type="text/css" rel="stylesheet" href="/static/main.css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2 login-area">
                    {% if user %}
                        Welcome {{user.name}}
                        <br>
                        (<a class="login-link" href="/logout">logout</a>)
                            <div class="new-post">
                                <a class="login-link" href="/newpost">New Post</a>
                            </div>
                    {% else %}
                        <a class="login-link" href="/login">login</a>
                        |
                        <a class="login-link" href="/signup">signup</a>
                    {% endif %}
                </div>
            </div>
            <div class="row main-title">
                <a class="blog-front" href="/">The Amazing Blog</a>
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>

