{% extends "base.html" %}
{% block content %}
  {% for p in posts %}
    {% if p.key().id() | string != delete_id | string %}
        <div class="row">
            <div class="col-md-12">
                <h2 class="post-title">
                    <a href="/mublog/{{ p.key().id() }}">{{ p.subject }}</a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ p.content | safe }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5 class="pull-left">
                    By: {{ p.getUser() }}
                </h5>
            </div>
            <div class="col-md-8">
                <h5 class="pull-right">
                    Created: {{ p.created.strftime("%b %d, %Y") }}
                </h5>
            </div>
        </div>
        <br>
    {% endif %}
  {% endfor %}
{% endblock %}
