{% extends "base.html" %}

{% block content %}
      <div class="container">
        <div class="col-md-12">
          <div class="row">
            <form method="post">
                <div class="row">
                  <div class="col-md-12">
                    {% if error %}
                      {{error}}
                    {% endif %}
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <input type="hidden" id="post_id" name="post_id" value="{{post_id}}">
                    <label>
                      <div>Subject</div>
                      <input type="text" name="subject" value="{{subject}}">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>
                      <div>Blog</div>
                      <textarea name="content" value="{{content}}">{{content}}</textarea>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <button type="submit">Submit</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}