body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #747704;
}

hr {
    height: 20px;
}

footer {
    color: #808080;
    line-height: 1.2em;
    text-align: center;
}

.text-muted {
    color: #bcb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    article, .column-image {
        display: inline-block;
        text-align: center;
    }
}