{% extends "main.html" %}
{% block content %}
	
		<div class='col-md-8 col-lg-8'>

			<h1>Edit iTEM </h1>

				<form action="#" method = 'POST'>
				<p> Name: </p>
				<input type='text' size='30' name='name' value='{{item.name}}'>
				<br>
				<p>Description: </p>
				<input type='text' size='60' name='description' value='{{item.description}}'>
				<br>
				<br>
				<p>Category</p>
				
				<select name='category'>
					{% for category in categories %}
						{% if item.category_id == category.id %}
						<option selected="selected"value="{{category.name}}">{{category.name}}</option>

						{% else %}
						<option value="{{category.name}}">{{category.name}}</option>
						{% endif %}

					{% endfor %}


				</select>
				
					
			

				<input type="submit" value='edit'>


				</form>


		</div>

		
	
{% endblock %}