<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

  <script src="//apis.google.com/js/platform.js?onload=start">
  </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<body>
  <div class='navbar navbar-inverse navbar-static-top'>
    <div class='container'>
      <a href='/' class='navbar-brand'>Catalog App</a>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href='/login'>Login </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- GOOGLE PLUS SIGN IN-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div id="Google_signInButton">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="407810975013-uctonco7heqbqb3is24j54g46367gimg.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

        <br>
        <br>
        <button id="Facebook_signInButton">
          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
          <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
          </fb:login-button>
        </button>
        <br>
        <br>
        <br>
        <br>

        <p id="Github_signInButton">
          <a href="https://github.com/login/oauth/authorize?scope=user&client_id=6a647bf6864bff29e2d2&redirect_uri=http://localhost:5000/callback&state={{STATE}}"><i class="fa fa-github" aria-hidden="true"></i> Github login </a>
        </p>
        <div id="result"></div>
      </div>
    </div>
  </div>

  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#Google_signInButton').hide();
              $('#Facebook_signInButton').hide();
              $('#Github_signInButton').hide();
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/catalog/";
             }, 2000);

          } else if (authResult['error']) {
        console.log('There was an error: ' + authResult['error']);
      } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
             }
          }

      }); } }
  </script>


  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '102662253513444',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
    });
    };
    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

     function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token)
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
       $.ajax({
        type: 'POST',
        url: '/fbconnect?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#Google_signInButton').hide();
            $('#Facebook_signInButton').hide();
            $('#Github_signInButton').hide();
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/catalog/";
           }, 4000);

        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }

    });
      });
    }
  </script>


  <!--END GOOGLE PLUS SIGN IN -->

</body>

</html>