{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
        <div class="container">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h1> Edit Player </h1>
                <form action="{{ url_for('editPlayer',team_id = team_id, player_id=player.id)}}" method = 'post'>
                    <dl>
                        <dt>Name:</dt>
                            <dd><input type ='text' size='30' name='name' placeholder = '{{player.name }}'></dd>
                        <dt>Description:</dt>
                            <dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{player.description }}'></textarea></dd>
                        <dt>Number:</dt>
                            <dd><input type = 'text' size = '8' name='number' placeholder = '{{player.number}}'></dd>
                        <dt>Position:</dt>
                        {% if player.position == 'Center' %}
                            <dd><input type ='radio' name='position' value='Center'checked>Center</dd>
                        {%else%}
                            <dd><input type ='radio' name='position' value='Center'>Center</dd>
                        {% endif %}
                        {% if player.position == 'Right Wing' %}
                            <dd><input type ='radio' name='positiion' value='Right Wing' checked>Right Wing</dd>
                        {%else%}
                            <dd><input type ='radio' name='position' value='Right Wing'>Right Wing</dd>
                        {% endif %}
                        {% if player.position == 'Left Wing'%}
                            <dd><input type ='radio' name='position' value='Left Wing'checked >Left Wing</dd>
                        {% else %}
                            <dd><input type ='radio' name='position' value='Left Wing'>Left Wing</dd>
                        {% endif %}
                    </dl>
                    <input type='submit' value='Edit'>
                    <a href = '{{url_for('showTeams', team_id = team_id)}}'> Cancel </a>
                </form>
            </div>
            <div class="col-md-2">
            </div>
{% endblock %}
