{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{team.name}}? </h2>
<div class="row">
	<div class="col-md-12">
		<form action="{{url_for('deleteTeam',team_id=team.id)}}" method = 'POST'>
			<button type="submit" name="action" class="btn btn-default delete" id="submit" type="submit" value="Delete">
			<span aria-hidden="true"></span>Delete</button>
		</form>
		<a href = '{{url_for('showTeams')}}'>
			<button class="btn btn-default">
			<span aria-hidden="true"></span>Cancel</button>
		</a>
	<div>
</div>
{% endblock %}